*{
    box-sizing: border-box;
  }

body {
    margin: 0;
    color: #fff;
    font: 87.5%/1.5em 'Open Sans', sans-serif;
      background:url(../img/compute-ea4c57a4.png)no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;}
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}
.navbar a:active {
  background: #ddd;
  color: black;
}
/******************************************************/

.navbar .search-container {
  float: right;
}

.navbar input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.navbar .search-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.navbar .search-container button:hover {
  background: #ccc;
  width: 50%;
}
/******************************************************************************************************/
/* Style inputs */
.con_container  input[type=text],input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  .con_container input[type=submit] {
    background-color: #00b6df;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  .con_container input[type=submit]:hover {
    background-color: #6eb7cb;
  }
  
  /* Style the container/contact section */
  .con_container {
    border-radius: 5px;
    /* background-color: rgba(242, 242, 242, 0.5); */
    background-color: rgba(0,0,0,0.7);
     padding: 10px;}
    /* opacity: 0.5; */
  /* } 
 
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  img{
      margin-top: 30px;
  }
  .con_container h2 {
      font-family: MV Boli;
  }
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other 
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }*/

/******************************************************/